body {
  margin:0;
  font-family: Arial;
}

.bg {
  background: linear-gradient(135deg,#6a00ff,#00c3ff);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.center-card {
  background:white;
  padding:30px;
  border-radius:15px;
  text-align:center;
  width:300px;
}

input {
  width:100%;
  padding:10px;
  margin:8px 0;
}

button {
  width:100%;
  padding:10px;
  margin-top:5px;
  border:none;
  background:#6a00ff;
  color:white;
  border-radius:8px;
}

.sidebar {
  position:fixed;
  width:200px;
  height:100vh;
  background:#111;
  color:white;
  padding:20px;
}

.main {
  margin-left:220px;
  padding:20px;
}

textarea {
  width:100%;
  height:150px;
}
